.container {
  max-width: 800px;
  text-align: center;

  min-height: calc(
    100vh - 10rem - 200px
  ) !important; //monitor height - height of navbar + height of footer

  display: flex;

  h2 {
    margin-inline: auto;
  }

  p {
    margin-inline: auto;
  }

  button {
    width: fit-content;
    margin-inline: auto;

    margin-top: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .container {
    min-height: calc(
      100vh - 15rem
    ) !important; //monitor height - height of navbar + height of footer
    margin-block: 0;
  }
  .container p {
    max-width: 400px;
  }
}
