@use "./resets";
@use "./text";
@use "./modules";
@import "./variables";

/* Scroll bar experimental properties */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-light);

  border-radius: 10rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-accent);

  border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-dark);
}

hr {
  max-width: min(calc(var(--width) - 2rem), calc(100% - 10rem));
  border: 1px solid var(--bg-accent);

  margin-inline: auto;
  // margin-block: 250px;
}

.container {
  max-width: var(--width);
  min-height: calc(100vh - 5rem - 200px);

  margin-inline: auto;
  margin-block: 100px;

  padding: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.anchor {
  display: block;
  position: relative;
  top: 0px;
  visibility: hidden;

  margin: 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .container {
    max-width: var(--width-mobile);

    padding: 1rem;

    min-height: calc(100vh - 5rem - 200px);
    margin-block: 100px;
  }

  .anchor {
    top: -100px;
  }
}
