.container {
  h2 {
    text-align: center;
    margin-inline: auto;
  }
}

.options {
  margin-top: 120px;

  overflow: hidden;
  border: 1px solid var(--bg-accent);
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 100%;
  max-width: 1200px;

  margin-inline: auto;

  .option {
    border-radius: 0;

    background-color: transparent;

    padding: 58px;

    svg {
      margin-bottom: 40px;
      color: var(--txt-accent);
    }

    svg,
    p {
      transition: all 200ms ease;
    }

    hr {
      max-width: 100px;
      margin-block: 34px;
    }
  }

  .option:not(:first-child) {
    border-left: 1px solid var(--bg-accent);
  }

  button.option:hover {
    background-color: var(--clr);

    svg,
    p {
      color: var(--bg);
    }
  }
}

.options:not(:first-of-type) {
  margin-top: 60px;

  .option {
    padding: 30px;
  }
}

@media screen and (max-width: 900px) {
  .options {
    margin-top: 50px;
  }

  .options:not(:first-of-type) {
    grid-template-columns: 1fr;

    margin-top: 10px;

    .option {
      border-left: none;
    }
  }

  .options .option {
    padding: 20px;
  }

  .options .option svg {
    margin-bottom: 20px;
  }
}
