@import "../../scss/variables";

.container {
  h2 {
    margin-bottom: 65px;
  }

  img {
    border-radius: 10px;

    height: auto;
  }
}

.grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1.5fr 1fr;

  .leftcol {
    margin-right: 5rem;
  }
}

.cards {
  margin-top: 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;

  width: 100%;

  padding: 13px;

  border-radius: 10px;
  border: 1px solid $bg-accent;

  svg {
    color: $txt-accent;

    font-size: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 900px) {
  .grid {
    display: flex;
    flex-direction: column-reverse;

    img {
      margin-bottom: 2rem;
    }

    .leftcol {
      margin-right: 0;
    }
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 10px;
    grid-template-columns: 40px 1fr;
  }
}
