.wrapper {
  position: fixed;
  right: 1rem;
  z-index: 1;

  transition: bottom var(--animation) ease;
}

.icon {
  cursor: pointer;

  color: var(--clr);
}

@media screen and (max-width: 900px) {
  .icon {
    font-size: 45px !important;
  }
}
