@import "../../scss/variables";

.wrapper {
  position: fixed;
  right: 1rem;
  z-index: 1;

  transition: bottom $animation ease;
}

.icon {
  cursor: pointer;

  color: $clr;
}

@media screen and (max-width: 900px) {
  .icon {
    font-size: 45px !important;
  }
}
