@import "../../styles/variables";

.icon {
  position: fixed;
  right: 1rem;
  z-index: 1;
  cursor: pointer;

  transition: bottom $animation ease;

  color: $clr;
}

@media screen and (max-width: 900px) {
  .icon {
    font-size: 45px !important;
  }
}
