@import "../../styles/variables";

.container {
  span {
    margin-top: 1rem;

    display: flex;
    align-items: center;
    gap: 24px;

    width: fit-content;

    color: $clr;

    svg {
      font-size: clamp(30px, 5vw, 45px);
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    span {
      gap: 10px;
    }
  }
}
