@import "../../styles/variables";

.container {
  h2 {
    text-align: center;
  }
}

.options {
  margin-top: 120px;

  overflow: hidden;
  border: 1px solid $bg-accent;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 100%;
  max-width: 1200px;

  margin-inline: auto;

  .option {
    border-radius: 0;

    background-color: transparent;

    padding: 58px;

    svg {
      margin-bottom: 40px;
      color: $txt-accent;
    }

    svg,
    p {
      transition: all 200ms ease;
    }

    hr {
      max-width: 100px;
      margin-block: 34px;
    }
  }

  .option:not(:first-child) {
    border-left: 1px solid $bg-accent;
  }

  button.option:hover {
    background-color: $clr;

    svg,
    p {
      color: $bg;
    }
  }
}

.options:not(:first-of-type) {
  margin-top: 60px;
}

.options:not(:first-of-type) {
  .option {
    padding: 30px;
  }
}
