@import "../../styles/variables";

.container {
  h2 {
    margin-bottom: 65px;
  }

  img {
    border-radius: 10px;
  }
}

.grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
}

.cards {
  margin-top: 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;

  padding: 13px;

  border-radius: 10px;
  border: 1px solid $bg-accent;

  svg {
    color: $txt-accent;
  }
}
