.container {
  h2 {
    margin-bottom: 65px;
  }

  img {
    border-radius: 10px;

    height: auto;
  }

  a {
    position: relative;

    transition: color var(--animation) ease;
    color: var(--txt);
  }

  a:hover {
    color: var(--bg);
  }

  a::after {
    content: "";

    z-index: -1;

    position: absolute;
    top: 60%;
    bottom: 0;
    left: 0;
    right: 0;

    transition-property: top, background-color;
    transition-duration: var(--animation);

    background-color: var(--clr-dimmed);
  }

  a:hover::after {
    top: 0;

    background-color: var(--clr);
  }
}

.grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1.5fr 1fr;

  .leftcol {
    margin-right: 5rem;
  }
}

.cards {
  margin-top: 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card {
  display: grid;
  grid-template-columns: 60px 1fr auto;
  align-items: center;

  width: 100%;

  padding: 13px;

  border-radius: 10px;
  border: 1px solid var(--bg-accent);

  svg {
    color: var(--txt-accent);

    font-size: 30px;
  }
}

.imgContainer {
  padding: 1rem;
  border: 1px solid var(--clr);

  height: fit-content;

  border-radius: 25px;

  border-bottom: 5px solid var(--clr);
}

@media screen and (max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 900px) {
  .grid {
    display: flex;
    flex-direction: column-reverse;

    .imgContainer {
      margin-bottom: 2rem;
    }

    .leftcol {
      margin-right: 0;
    }
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 10px;
    grid-template-columns: 40px 1fr auto;
  }
}
