@import "../../scss/variables";

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 1rem;

  height: 5rem;

  align-items: center;

  max-width: $width-wide;
  margin-inline: auto;
}

.icons {
  margin-left: auto;

  span:not(:first-child) {
    margin-left: 1rem !important;
  }
}

@media screen and (max-width: 900px) {
  .container {
    text-align: center;

    height: 10rem;

    display: flex;
    flex-direction: column-reverse;
  }

  .icons {
    margin-bottom: 1rem;
    margin-left: 0;
  }
}
