@import "../../scss/variables";

$accent: $bg-accent;
$background: $bg;
$text: $txt;
$text-secondary: $txt-accent;
$text-accent: $txt-accent;
$dim: $bg-accent;

$active: $clr;
$hover: $bg-opaque;

$animation-time: 200ms;

.btnIcon {
  transition: color $animation-time ease;
  cursor: pointer;
}

.btnIcon:hover {
  filter: brightness(0.8);
}

.btnIconActive {
  color: $active;
}

.dropdownWrapper {
  position: relative;

  user-select: none;
}

.wrapper {
  transition: all $animation-time ease;
}

.deactivated {
  transform: scale(0.8);
}

.activated {
  transform: scale(1);
}

.dropdown {
  display: flex;
  flex-direction: column;
  z-index: 1;

  // width: 10rem !important;

  box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.1);

  overflow: hidden;

  border-radius: 10px;
  border: 1px solid $accent;

  background-color: $background;

  position: absolute;

  transition: opacity $animation-time ease, visibility $animation-time ease;

  button {
    padding: 10px;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5px;

    width: 100%;

    cursor: pointer;
    font: inherit;
    font-weight: 500;

    color: $text;
    background-color: $background;

    border: none;
    border-radius: 0;
  }

  button + button {
    border-top: 1px solid $dim;
  }

  svg {
    color: $text-accent;
  }
}

.collapsed {
  opacity: 0;
  visibility: hidden;
}

.expanded {
  opacity: 1;
  visibility: visible;
}

.card {
  border-radius: 10px;
  border: 1px solid $dim;

  margin-inline: auto;

  max-width: 30rem;
  width: 100%;

  height: fit-content;

  display: flex;
  flex-direction: column;

  header {
    flex-direction: column;

    border: none;
  }

  footer {
    margin-top: auto;

    border-top: 1px solid $dim;
  }
}

.card + .card {
  margin-top: 1rem;

  header {
    flex-direction: row;
  }
}
