.container {
  margin-top: 100px;
  text-align: center;

  svg {
    color: var(--txt-accent);
    margin-bottom: 30px;
  }

  p {
    color: var(--txt);

    margin-inline: auto;
  }

  a {
    position: relative;

    transition: color var(--animation) ease;
  }

  a:hover {
    color: var(--bg);
  }

  a::after {
    content: "";

    z-index: -1;

    position: absolute;
    top: 60%;
    bottom: 0;
    left: 0;
    right: 0;

    transition-property: top, background-color;
    transition-duration: var(--animation);

    background-color: var(--clr-dimmed);
  }

  a:hover::after {
    top: 0;

    background-color: var(--clr);
  }
}

@media screen and (max-width: 900px) {
  .container p {
    max-width: 300px;
  }
}
