$bg: #fff;
$bg-accent: #dbdbdb;
$bg-light: #f3f3f3;

$txt: #707070;
$txt-accent: #b5b5b5;

$clr: #ff9c51;
$clr-dark: #d67d39;
$clr-dimmed: #ff9c512c;

$width: 1500px;
$width-wide: 1920px;

$width-mobile: 600px;

$animation: 200ms;
$animation-quick: 100ms;
